.nav-section {
    display: flex;
    align-items: center;
    background-color: #caf0f8;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-section ul {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.nav-section img.logo {
    width: 170px;
    height: auto;
    transition: transform 0.2s ease;
}

.nav-section img.logo:hover {
    transform: scale(1.1);
}

.nav-section .account-container {
    margin-left: auto;
}

.nav-section .account {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-section .account:hover {
    transform: scale(1.1);
}

.nav-section a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.149);
    margin-left: 10rem;
    display: inline-block;
    background-color: black;
}

.nav-section a:hover {
    background-color: aliceblue;
    color: blue;
    transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
    .nav-section {
        display: flex;
        align-items: center;
        background-color: #caf0f8;
        height: auto;
        padding: 10px;
        overflow: hidden;
        flex-direction: column;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav li {
        padding: 10px;
        white-space: nowrap;
    }

    nav img.logo {
        width: 120px;
        margin-left: 0;
    }

    .account-container {
        margin-right: 0;
    }

    .account {
        width: 50px;
        margin-left: 0;
    }

    nav a {
        font-weight: 600;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        font-size: 14px;
        margin-left: 0;
        margin-top: 10px;
        background-color: black;
    }

    nav a:hover {
        background-color: aliceblue;
        color: blue;
    }
}
