.query-textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.074);
  }
 .quer{
    color:rgb(60, 182, 213);
  }
  .submit-btn {
    font-size: 18px;
    font-weight: 400;
    margin-left: 93%;
  }