ul {
    list-style-type: none;
    margin: 0;
    padding:40px;
}
.nav-section
{
display: flex;
align-items: center;   
 background-color: #caf0f8;
 height: 150px;
 width: 200vh;
}

nav ul {
    display: flex;
}

nav img{
    width: 200px;
    transition: transform 0.2s ease;

}
nav img:hover{
    transform: scale(1.1);
}
.account{
    width: 80px;
    margin-left: 250px;
}
nav a {
    margin-left: 180px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin-top: 25px;
    text-decoration: none; 
    padding: 10px; 
    color:white;
    background-color: black; 
    border-radius: 30px;
    transition: transform 0.2s ease;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.149);

}

nav a:hover {
   background-color: aliceblue;
   color: blue;
    transform: scale(1.1);
}

  
 
  

  
  