.query-textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.074);
  }
 .quer{
    color:rgb(60, 182, 213);
  }
  .submit-btn {
    font-size: 18px;
    font-weight: 400;
    margin-left: 93%;
  }
  @media only screen and (max-width: 768px) {
    .query-textarea {
      width: 100%;
      height: 100px;
      border-radius: 10px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.074);
      font-size: 13px;
      padding: 5px;
    }
  
    .submit-btn {
      font-size: 10px;
      font-weight: 400;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: fit-content;
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }
  
    .submit-btn:hover {
      background-color: #0056b3;
    }
    .quer,.question-query-page{
      font-size: medium;
    }
    .para-query{
      font-size: small;
    }
  }
  